html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-family: 'Rajdhani', sans-serif;
/*	background: url('images/bg/keyboard.jpg') no-repeat;
	background-size: cover;
	height: 100vh;*/
}

/* Start of header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	color: #fff;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
}

/* Start of branding */
header .brand a {
	display: flex;
}

header .brand img {
	z-index: 9999;
}

header.navbar-scroll-at-60 {
	background: hsl(0, 0%, 0%, 0.1);
}
/* End of branding */

/* Start of navigation menu */
.navbar ul {
	display: flex;
	background: hsl(0, 0%, 0%, 0.9);
}

@supports (backdrop-filter: blur(1rem)) {
	.navbar ul {
		background: hsl(0, 0%, 100%, 0.1);
		backdrop-filter: blur(1rem);
	}
}

.navbar .nav-link a {
	text-decoration: none;
	color: #fff;
	padding: 0 1.5rem;
}

.navbar .nav-link a:hover {
	background: hsl(215, 56%, 23%, 0.7);
}

.navbar .nav-link a:focus {
	background: hsl(215, 56%, 23%, 0.7);
}

.hamburger {
	display: none;
}

@media screen and (min-width: 993px) {
	.navbar-md {
		display: none;
	}
}

/* For medium screens */
@media screen and (max-width: 992px) {
	.navbar ul {
		display: none;
	}

	.navbar-md ul {
		background: hsl(0, 0%, 0%, 0.9);
		display: flex;
		flex-direction: column;
		gap: 2em;
		position: fixed;
		inset: 0 0 0 150%;
		padding: min(30vh, 10rem) 2em;
		z-index: 1;
		transition: all 0.5s;
	}

	@supports (backdrop-filter: blur(1rem)) {
		.navbar-md ul {
			background: hsl(215, 56%, 23%, 0.7);
			backdrop-filter: blur(1rem);
		}
	}

	.navbar-md ul.is-active {
		left: 16%;
	}

	.navbar-md .nav-md-link {
		text-align: center;
	}

	.navbar-md .nav-md-link .link-anchor {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		padding: 0 1.5rem;
	}

	.navbar-md .nav-md-link .socials {
		display:flex;
		justify-content: center;
	}

	.navbar-md .socials-link{
		margin-top: 150px;
	}

	.navbar-md .nav-md-link .socials a {
		display: flex;
		padding: 0 10px;
	}

	.hamburger {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 35px;
		cursor: pointer;
		z-index: 9999;
		appearance: none;
		background: none;
		outline: none;
		border: none;
	}

	.hamburger .bar, .hamburger:before, .hamburger:after {
		content: '';
		margin: 3px 0;
		width: 70%;
		height: 2px;
		text-align: center;
		background-color: #fff;
		transition: 0.5s;
	}

	.hamburger.is-active:before {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.hamburger.is-active:after {
		transform: rotate(45deg) translate(-5.25px, -6.25px);
	}

	.hamburger.is-active .bar {
		opacity: 0;
		transform: translateX(-50px);
	}
}
/* End of navigation menu */
/* End of header */

/* Start of banner */
.banner {
	max-width: 100vw;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.banner .main-banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 100%;
	height: 100vh;
}

.banner .banner-name {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	background: #e67300;
	justify-items: end;
	padding: 0 20px;
}

.banner .banner-name h2 {
	font-size: 60px;
	align-self: end;

}
.banner .banner-name h3 {
	font-size: 20px;
	align-self: start;
}

.banner .banner-img {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	background: url(images/bg/keyboard.jpg) no-repeat;
	background-size: cover;
	justify-items: start;
	padding: 0 20px;
}

.banner .banner-img h2 {
	color: #fff;
	font-size: 60px;
	align-self: end;
/*	text-transform: uppercase;	*/
}

.banner .banner-img h3 {
	color: #fff;
	font-size: 20px;
	align-self: start;
}

/* Banner for medium screens */
@media screen and (max-width: 992px) {
	.banner .main-banner {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		min-height: 100%;
		height: 100vh;
	}

	.banner .banner-name h2 {
		grid-row: 2;
		font-size: 40px;
		justify-self: end;
	}

	.banner .banner-name h3 {
		font-size: 16px;
		align-self: end;
		justify-self: start;
		transform: rotate(90deg) translate(100px, 57px);
	}

	.banner .banner-img h2 {
		font-size: 40px;
		align-self: start;
		justify-self: end;
	}

	.banner .banner-img h3 {
		font-size: 16px;
		justify-self: start;
		transform: rotate(90deg) translate(-100px, 57px);;
	}
}

/* End of banner */

/* Start of qoute */
.quote {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height: 100vh;
	background: hsl(10, 10%, 10%, 1);
	align-items: center;
	justify-items: center;
}

.quote h1, .quote h3 {
	color: #000;
	padding: 5px 20px;
	background: #eeeee7;
}

.quote div {
	display: grid;
	row-gap: 20px;
}

.quote h1 {
	font-size: 40px;
	grid-column: span 1;
}

.quote h3 {
	justify-self: end;
}

@media screen and (max-width: 600px) {
	.quote h1 {
		font-size: 25px;
		grid-column: span 1;
	}

	.quote h3 {
		font-size: 16px;
		justify-self: end;
	}
}
/* End of quote */

/* Start of About Me */
.about {
	background-color: #d9d9d9;
}

.about .about-container {
	background: url('images/hero/bg-hero.png') no-repeat;
	background-size: cover;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about .about-container img {
	width: 200px;
	display: none;
}

.about .about-container > div {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 3fr 5fr;
	max-width: 70%;
}

.about div.about-content h1 {
	align-self: end;
	font-size: 40px;
}

.about div.about-content p {
	margin-top: 20px;
	font-size: 18px;
}

@media screen and (max-width: 992px) {
	.about .about-container {
		background-position: -100px 0px;
	}

@media screen and (max-width: 768px) {
	.about .about-container {
		background-image: none;
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.about .about-container .about-content {
		grid-template-rows: 1.5fr 3fr 5fr;
	}

	.about .about-container .about-content h1 {
		align-self: end;
		justify-self: center;
		font-size: 30px;
	}
	.about .about-container .about-content img {
		display: block;
		align-self: center;
		justify-self: center;
	}

	.about .about-container .about-content p {
		font-size: 16px;
		text-align: center;
	}
}

/* End of About Me */