* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-family: 'Rajdhani', sans-serif;
/*	background: url('images/bg/keyboard.jpg') no-repeat;
	background-size: cover;
	height: 100vh;*/
}

/* Start of header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	color: #fff;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
}

/* Start of branding */
header .brand a {
	display: flex;
}

header .brand img {
	z-index: 9999;
}
/* End of branding */

/* Start of navigation menu */
.navbar ul {
	display: flex;
	background: hsl(0, 0%, 0%, 0.9);
}

@supports (backdrop-filter: blur(1rem)) {
	.navbar ul {
		background: hsl(0, 0%, 100%, 0.1);
		backdrop-filter: blur(1rem);
	}
}

.navbar .nav-link a {
	text-decoration: none;
	color: #fff;
	padding: 0 1.5rem;
}

.navbar .nav-link a:hover {
	background: hsl(215, 56%, 23%, 0.7);
}

.navbar .nav-link a:focus {
	background: hsl(215, 56%, 23%, 0.7);
}

.hamburger {
	display: none;
}

@media screen and (min-width: 701px) {
	.navbar-md {
		display: none;
	}
}

/* For medium screens */
@media screen and (max-width: 700px) {
	.navbar ul {
		display: none;
	}

	.navbar-md ul {
		background: hsl(0, 0%, 0%, 0.9);
		display: flex;
		flex-direction: column;
		gap: 2em;
		position: fixed;
		inset: 0 0 0 150%;
		padding: min(30vh, 10rem) 2em;
		z-index: 1;
		transition: all 0.5s;
	}

	@supports (backdrop-filter: blur(1rem)) {
		.navbar-md ul {
			background: hsl(215, 56%, 23%, 0.7);
			backdrop-filter: blur(1rem);
		}
	}

	.navbar-md ul.is-active {
		left: 16%;
	}

	.navbar-md .nav-md-link {
		text-align: center;
	}

	.navbar-md .nav-md-link .link-anchor {
		text-decoration: none;
		color: #fff;
		font-size: 18px;
		padding: 0 1.5rem;
	}

	.navbar-md .nav-md-link .socials {
		display:flex;
		justify-content: center;
	}

	.navbar-md .socials-link{
		margin-top: 150px;
	}

	.navbar-md .nav-md-link .socials a {
		display: flex;
		padding: 0 10px;
	}

	.hamburger {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 35px;
		cursor: pointer;
		z-index: 9999;
		appearance: none;
		background: none;
		outline: none;
		border: none;
	}

	.hamburger .bar, .hamburger:before, .hamburger:after {
		content: '';
		margin: 3px 0;
		width: 70%;
		height: 2px;
		text-align: center;
		background-color: #fff;
		transition: 0.5s;
	}

	.hamburger.is-active:before {
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.hamburger.is-active:after {
		transform: rotate(45deg) translate(-5px, -6px);
	}

	.hamburger.is-active .bar {
		opacity: 0;
		transform: translateX(-50px);
	}
}
/* End of navigation menu */
/* End of header */

/* Start of banner */
.banner {
	max-width: 100vw;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.banner .main-banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 100%;
	height: 100vh;
}

.banner .banner-name {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	background: #e67300;
/*	background: url(images/bg/banner-name-logo.png) no-repeat;
	background-size: cover;*/
	justify-items: end;
	padding: 0 20px;
}

.banner .banner-name h2 {
	font-size: 60px;
	align-self: end;
/*	text-transform: uppercase;*/

}
.banner .banner-name h3 {
	font-size: 20px;
	align-self: start;
}

.banner .banner-img {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	background: url(images/bg/keyboard.jpg) no-repeat;
	background-size: cover;
	justify-items: start;
	padding: 0 20px;
}

.banner .banner-img h2 {
	color: #fff;
	font-size: 60px;
	align-self: end;
/*	text-transform: uppercase;	*/
}

.banner .banner-img h3 {
	color: #fff;
	font-size: 20px;
	align-self: start;
}

/* Banner for medium screens */
@media screen and (max-width: 700px) {
	.banner .main-banner {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		min-height: 100%;
		height: 100vh;
	}

	.banner .banner-name {

	}
	.banner .banner-name h2 {
		grid-row: 2;
		font-size: 40px;
		justify-self: end;
	}

	.banner .banner-name h3 {
		font-size: 16px;
		align-self: end;
		justify-self: start;
		transform: rotate(90deg) translate(100px, 57px);
	}

	.banner .banner-img h2 {
		font-size: 40px;
		align-self: start;
		justify-self: end;
	}

	.banner .banner-img h3 {
		font-size: 16px;
		justify-self: start;
		transform: rotate(90deg) translate(-100px, 57px);;
	}
}

/* End of banner */

/* Start of about */
.about {
	height: 100vh;
}